<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-brand">
		<img src="{{ site.baseurl }}/img/logo.svg" width="58" height="40" class="d-inline-block align-top" alt="logo">
	<a href="{{ site.baseurl }}">
		<h3 class="d-inline-block align-bottom">{{ site.short-title }}</h3>
	</a>
    </div>

  <div class="collapse navbar-collapse condensed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-bottom">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/terms">All Terms</a>
      </li>
    </ul>
  </div>

</nav>
