<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>
{% include nav.html %}

<div class="container-fluid" id="main">
<div class="row">
<div class="col-md-9">

	<h3>GROUP: {{ page.title }}</h3>
	<section id="project-content">
	<p>{{ page.short-description }}</p>

	{{ content }}
	</section>

	<section id="sub-groups">
		<div class="transitline">
		<ul>
		{% for group in site.groups %}
		{% if group.tags contains page.category %}
		{% if page.category != group.category %}
  			<li class="tstop">
  				<a href={{ site.baseurl }}{{ group.url }}>
    					<h6 class="stopname">{{ group.title }}</h6>
				  </a>
			  </li>
		{% endif %}
  		{% endif %}
		{% endfor %}
		</ul>
	</div>
	</section>

	<section id="terms">
		<h5>Terms</h5>
		{% for term in site.terms %}
		{% if term.tags contains page.category %}
			<div class="term-entry">
  				<div class="row">
  					<div class="col-sm-3">
							<a href={{ site.baseurl }}{{ term.url }}>
    						<h6 class="term-title">{{ term.title }}</h6>
							</a>
						</div>
						<div class="col-sm-6">
							<p class="term-def">{{ term.short-description }}</p>
						</div>
					</div>
				</div>
  		{% endif %}
		{% endfor %}
		</div>
	</section>

<div class="col-md-3">
	<div>
	<h3><p>Related Articles</p></h3>
		{% for article in site.articles %}
  		{% if article.tags contains group.category %}
    	<h6><a href={{ site.baseurl }}{{ article.url }}>{{ article.title }}</a></h6>
		<p class="caption">{{ article.short-description }}</p>
  		{% endif %}
		{% endfor %}
	</div>
	<div>
	<h3><p>Other Categories</p></h3>
		{% for group in site.groups %}
  		{% if page.category != group.category %}
    	<h6><a href={{ site.baseurl }}{{ group.url }}>{{ group.title }}</a></h6>
  		{% endif %}
		{% endfor %}
	</div>
</div>

</div>
</div>



{% include footer.html %}
{% include js.html %}

</body>
</html>
